@model MvcLaundryCrudProject.Models.Customers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Müşteri Silme Sayfası</h3>



<div class="pl-3">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ad Soyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSurname)
        </dd>

        <dt>
            Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
